body{
    border-style: solid;
    border-color: green;
    border-width: 5px;
    background-image : url("https://media.istockphoto.com/photos/cream-background-picture-id1258635832?b=1&k=20&m=1258635832&s=170667a&w=0&h=quK14G8yS2PvAyBMiU5RhiDIkIFaXtFa7SWydZAx-ZY=")
}
.div2{
    font-style: italic;
    text-align: center;
    height: 50px;
    width: 425px;;
    padding-left: 30px;
    display: inline-block;
    background-color: black;
    border: red 5px solid;
    border-radius: 20px;
    color: white;
    position: relative;
    bottom: 30px;
    right: 80px;
}
.div1{
    font-style: italic;
    font-size: x-large;
    height: 100px;
    width:30%;
    padding-left: 20px;
    display: inline-block;
    margin:10px;
    background-color: black;
    border: red 5px solid;
    border-radius: 20px;
    color: white;
}
.circle{
    position: relative;
    top: 250px;
    text-decoration: underline;
    font-size: 27px;
    display: inline-block;
    text-align: center;
    font-style: oblique;
    border-radius:50%;
    border: 10px grey solid; 
    background-color:rgb(18, 158, 158);
    height: 400px; 
    width: 400px;
}
label,h2{
    color: rgb(240, 25, 10);
}
form{ 
    display: inline-block;
    background-color: white;
    position: relative;
    text-align: center;
    width: 20%;
    border: red dashed 5px;
    bottom:350px;
    left: 800px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 250px; 
    flex-wrap: wrap;
}
.flex-item{
    flex :20%;
    margin:40px;
    color: blue;
    height: auto;
    width: auto;
    border-radius: 40px;
    text-align: center;
    background-color: rgb(14, 197, 142);
    border-color: green;
    border-style: solid;
}